{% for peering in tpl_peerings %}
{% for session in peering.sessions %}
protocol bgp {{ session.name }} from generic_bgp {
{% if peering.table is defined %}
  table {{ peering.table }};
{% endif %}
{% if peering.local_as is defined %}
  local as {{ peering.local_as }};
{% endif %}
  neighbor {{ session.ip }} as {{ peering.asn }};
{% if peering.source_ip is defined %}
  source address {{ peering.source_ip }};
{% endif %}
{% if session.filters is defined %}
  import filter {{ session.filters.import | default('drain') }};
  export filter {{ session.filters.export | default('drain') }};
{% elif peering.filters is defined %}
  import filter {{ peering.filters.import | default('drain') }};
  export filter {{ peering.filters.export | default('drain') }};
{% else %}
  import filter {{ peers[peering.asn].filters.import | default('drain') }};
  export filter {{ peers[peering.asn].filters.export | default('drain') }};
{% endif %}
{% if peering.local_pref is defined %}
  default bgp_local_pref {{ peering.local_pref }};
{% endif %}
{% if peering.multihop is defined %}
  multihop {{ peering.multihop }};
{% endif %}
{% if peering.password is defined %}
  password "{{ peering.password }}";
{% endif %}
{% if peering.rr_client | default(false) %}
  rr client;
{% endif %}
{% if peering.hold_time is defined %}
  hold time {{ peering.hold_time }};
{% endif %}
}

{% endfor %}
{% endfor %}
