protocol static {
{% for route in tpl_routes %}
  route {{ route }};
{% endfor %}
}

{% if static_prefix_routes | default(true) %}
protocol static static_prefix {
{% for prefix in tpl_prefixes %}
  route {{ prefix }} unreachable;
{% endfor %}
}
{% endif %}
