[Unit]
Description=Stateful NAT64
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/sbin/modprobe jool
ExecStart=/usr/local/bin/jool instance add "nat64" --iptables --pool6 {{ nat64.pool6 }}
ExecStop=/usr/local/bin/jool instance remove "nat64"

[Install]
WantedBy=multi-user.target
