#!/bin/sh
{% for iface in interfaces %}
{% if iface.type == 'Ethernet' %}
ethtool -K {{ iface.name }} tso off gro off gso off
{% endif %}
{% endfor %}

iptables-restore /etc/sysconfig/iptables.rules
ip6tables-restore /etc/sysconfig/ip6tables.rules

exit 0
