protocol ospf {
  import filter ospf_in;
  export filter ospf_out;

  area 0 {
{% for interface in ospf.interfaces | default([]) %}
    interface "{{ interface }}" {
      hello 5; 
      dead 20;
{% if interface | match('^gre.*') %}
      ttl security on;
{% endif %}
    };
{% endfor %}

{% for interface in ospf.stub_interfaces | default([]) %}
    interface "{{ interface }}" {
      stub;
    };
{% endfor %}
  };
}
