protocol static {
{% for route in static_routes.ipv6 | default([]) %}
  route {{ route }};
{% endfor %}
}

{% if static_prefix_routes | default(true) %}
protocol static static_prefix {
{% for prefix in prefixes.ipv6 | default([]) %}
  route {{ prefix }} unreachable;
{% endfor %}
}
{% endif %}
