DEVICE={{ iface.name }}
HWADDR={{ iface.mac }}
UUID={{ iface.uuid }}
TYPE={{ iface.type }}
{% if iface.disabled | default(false) %}
ONBOOT=no
{% else %}
ONBOOT=yes
{% endif %}
BOOTPROTO={{ iface.bootproto | default('none') }}

{% if iface.bond is defined %}
MASTER={{ iface.bond }}
SLAVE=yes
{% else %}
{% if iface.ipv4 is defined %}
PREFIX={{ iface.ipv4.address | ipaddr('prefix') }}
IPADDR={{ iface.ipv4.address | ipaddr('address') }}
{% if iface.ipv4.gateway is defined %}
GATEWAY={{ iface.ipv4.gateway }}
DEFROUTE=yes
DNS1=8.8.8.8
DNS2=8.8.4.4
{% endif %}
IPV4_FAILURE_FATAL=no
{% endif %}

{% if iface.ipv6 is defined %}
IPV6INIT=yes
IPV6_AUTOCONF=no
IPV6ADDR={{ iface.ipv6.address }}
IPV6_DEFROUTE=no
IPV6_FAILURE_FATAL=no
{% endif %}
{% endif %}
