#!/bin/sh
{% for iface in wireguard.interfaces %}
ip link del {{ iface.name }}
ip link add dev {{ iface.name }} type wireguard
{% if wireguard_role | default('server') == 'server' %}
ip addr add {{ wireguard_net | ipsubnet(31, iface.subnet) | ipaddr(0) }} dev {{ iface.name }}
ip -6 addr add {{ wireguard_net_local6 | ipsubnet(64, iface.subnet) | ipaddr(1) }} dev {{ iface.name }} scope link
wg set {{ iface.name }} private-key /etc/wireguard/privatekey listen-port {{ iface.port }} peer {{ iface.peer }} allowed-ips 0.0.0.0/0,::/0
{% else %}
ip addr add {{ iface.ipv4.address }} dev {{ iface.name }}
ip -6 addr add {{ iface.ipv6.address }} dev {{ iface.name }} scope link
wg set {{ iface.name }} private-key /etc/wireguard/privatekey peer {{ iface.peer }} endpoint {{ iface.endpoint }} allowed-ips 0.0.0.0/0,::/0
{% endif %}
ip link set up dev {{ iface.name }}
{% endfor %}
