[Interface]
Table = off
FwMark = off
{% if wireguard_role | default('server') == 'server' %}
ListenPort = {{ iface.port }}
{% if wireguard_host.addresses is defined and wireguard_host.addresses[iface.name] is defined and wireguard_host.addresses[iface.name].ipv4 is defined %}
Address = {{ wireguard_host.addresses[iface.name].ipv4 }}
{% else %}
Address = {{ wireguard_host.net_ipv4 | ipsubnet(31, iface.subnet) | ipaddr(0) }}
{% endif %}
{% if wireguard_host.addresses is defined and wireguard_host.addresses[iface.name] is defined and wireguard_host.addresses[iface.name].ipv6 is defined %}
Address = {{ wireguard_host.addresses[iface.name].ipv6 }}
{% else %}
Address = {{ wireguard_host.net_ipv6 | ipsubnet(64, iface.subnet) | ipaddr(1) }}
{% endif %}
{% else %}
{% if iface.ipv4 is defined %}
Address = {{ iface.ipv4.address }}
{% endif %}
{% if iface.ipv6 is defined %}
Address = {{ iface.ipv6.address }}
{% endif %}
{% endif %}
PrivateKey = {{ wireguard_host.private_key }}
{% for cmd in iface.post_up | default([]) %}
PostUp = {{ cmd }}
{% endfor %}

[Peer]
PublicKey = {{ iface.peer }}
AllowedIPs = 0.0.0.0/0,::/0
{% if iface.endpoint is defined %}
Endpoint = {{ iface.endpoint }}
{% endif %}
