[Unit]
Description=Bird Exporter

[Service]
User=root
ExecStart=/usr/local/bin/bird_exporter -bird.v2=true -bird.socket=/usr/local/var/run/bird.ctl -format.new=true

[Install]
WantedBy=default.target
